* {
    padding: 0%;
    margin: 0%;
}

button{
    background-color: rgb(253,185,72) !important;
    color: #fff !important;
}

body,
html {
    height: 100%;
}

.body-body{
    height: 74vh;
}

.body-body .logo{
    height: 21vh;
}

.body-body .text{
    height: 21vh;
}

.body-body .img{
    height: 32vh;
}

.body-footer{
    height: 26vh;
    background: linear-gradient(rgba(204, 28, 25),rgba(173, 15, 12, 1));
}


.modal-body{
    height: 65vh;
}

.modal-header {
    height: 19vh;
    background: linear-gradient(rgba(173, 15, 12, 1), rgba(204, 28, 25));
}

.modal-footer button {
    color: #fff;
    background-color: rgb(253, 185, 72);
}