@font-face{
    font-family: "Montserrat-SemiBold";
    src: url("../fonts/Montserrat-SemiBold.otf");
}

@font-face{
    font-family: "Montserrat-Regular";
    src: url("../fonts/Montserrat-Regular.otf");
}

button {
    font-family: "Montserrat-SemiBold";
    font-size: 15px;
    background-color: rgb(253, 185, 72) !important;
    color: #fff !important;
}

button:hover{
   /**/
}

span{
    font-family: "Montserrat-Regular";
    font-size: 18px;
    color: #fff;
}

body,
html {
    height: 100%;
}

.body-body {
    height: 64%;
}

.body-body .img {
    height: 55%;
    background-image: url("../img/SVGArtB.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
}

.body-footer {
    height: 36%;
    background-image: url("../img/footer.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 400px;
}

.modal-body {
    height: 74%;
}

.modal-header {
    height: 17%;
    background-image: url("../img/header.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}